<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><mat-icon>chrome_reader_mode</mat-icon></a>
    <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><mat-icon svgIcon="assets:github"></mat-icon></a>
  </div>
  <td-layout-card-over cardWidth="75">
    <mat-card-title>Card Over</mat-card-title>
    <mat-card-subtitle>A card over layout with all available options</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <h3 matSubheader>Metadata</h3>
        <ng-template let-item let-last="last" ngFor [ngForOf]="cardlist">
          <mat-list-item>
            <mat-icon matListAvatar>{{item.icon}}</mat-icon>
            <h3 matLine> {{item.title}} </h3>
            <p matLine> {{item.description}} </p>
          </mat-list-item>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </ng-template>
        <mat-divider></mat-divider>
        <h3 matSubheader>Dates</h3>
        <ng-template let-item let-last="last" ngFor [ngForOf]="carddates">
          <mat-list-item>
            <mat-icon matListAvatar>{{item.icon}}</mat-icon>
            <h3 matLine> {{item.date | timeAgo}} </h3>
            <p matLine> {{item.description}} </p>
          </mat-list-item>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button color="accent" class="text-upper">Edit</button>
    </mat-card-actions>
  </td-layout-card-over>
</td-layout-nav>
<!-- <a mat-fab color="accent" class="mat-fab-bottom-right fixed z-3" [routerLink]="['add']">
  <mat-icon>add</mat-icon>
</a> -->
