<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <mat-toolbar-row>
        <mat-icon class="push-left-sm push-right-sm">filter_none</mat-icon>
        <span [routerLink]="['../../alerts']">Alerts</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item [routerLink]="['../../alerts']">
        <mat-icon matListIcon>error</mat-icon>
        Dialogs
      </a>
      <a mat-list-item [class.active]="true">
        <mat-icon matListIcon>announcement</mat-icon>
        Toasts
      </a>
      <a mat-list-item [routerLink]="['../inline']">
        <mat-icon matListIcon>warning</mat-icon>
        Inline Errors
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <span>Toasts</span>
          <!-- <span flex></span>
          <button mat-icon-button><mat-icon >view_module</mat-icon></button>
          <button mat-icon-button><mat-icon >sort</mat-icon></button>
          <button mat-icon-button><mat-icon >settings</mat-icon></button>
          <button mat-icon-button><mat-icon >more_vert</mat-icon></button> -->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div layout-gt-sm="row" tdMediaToggle="gt-xs">
      <div flex-gt-sm>
        <mat-card>
          <mat-card-content>
            <p>Brief, floating notification with optional user interaction</p>
            <button class="text-upper" mat-raised-button color="primary" (click)="showSnackBar()">Show toast</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </td-layout-manage-list>
</td-layout-nav>
