<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Docs" matTooltipPosition="before" matTooltipDelay="500" href="https://teradata.github.io/covalent/" target="_blank">
      <mat-icon>chrome_reader_mode</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Github" matTooltipPosition="before" matTooltipDelay="500" href="https://github.com/Teradata/covalent-resources" target="_blank">
      <mat-icon svgIcon="assets:github"></mat-icon>
    </a>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <mat-toolbar-row>
        <mat-icon class="push-left-sm push-right-sm">view_agenda</mat-icon>
        <span>Cards</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item [routerLink]="['../']">
        <mat-icon matListIcon>view_agenda</mat-icon>
        Standard Card
      </a>
      <a mat-list-item [routerLink]="['../card-list']" [class.active]="true">
        <mat-icon matListIcon>list</mat-icon>
        Card List
      </a>
      <a mat-list-item [routerLink]="['../card-images']">
        <mat-icon matListIcon>account_circle</mat-icon>
        Card with Images
      </a>
      <a mat-list-item [routerLink]="['../card-grid']">
        <mat-icon matListIcon>grid_on</mat-icon>
        Card Grid
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <span>Card List</span>
          <span flex></span>
          <a mat-icon-button [href]="baseURL + '/patterns/cards/card-list/card-list.component.html'" target="_blank"
          class="push-right">
            <mat-icon color="primary" matTooltip="Open in Stackblitz" matTooltipPosition="before" matTooltipDelay="500">code</mat-icon>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div layout-gt-sm="column">
      <mat-card flex-gt-sm>
        <mat-card-title>Metadata List Card</mat-card-title>
        <mat-card-subtitle>Info About This Item</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-list>
          <h3 matSubheader>Metadata</h3>
          <mat-list-item>
            <mat-icon matListAvatar>account_box</mat-icon>
            <h4 matLine>John Jameson</h4>
            <p matLine>Owner</p>
          </mat-list-item>
          <mat-divider matInset></mat-divider>
          <mat-list-item>
            <mat-icon matListAvatar>description</mat-icon>
            <h4 matLine>An Item Description</h4>
            <p matLine>Description</p>
          </mat-list-item>
          <mat-divider matInset></mat-divider>
          <mat-list-item>
            <mat-icon matListAvatar>vpn_key</mat-icon>
            <h4 matLine>1141e8e8-8d24-4956-93c2</h4>
            <p matLine>API Key</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 matSubheader>Dates</h3>
          <mat-list-item>
            <mat-icon matListAvatar>access_time</mat-icon>
            <h4 matLine>Wed, July 6, 2016 11:13 AM</h4>
            <p matLine>Last Updated</p>
          </mat-list-item>
          <mat-divider matInset></mat-divider>
          <mat-list-item>
            <mat-icon matListAvatar>today</mat-icon>
            <h4 matLine>Wed, July 4, 2016 09:11 AM</h4>
            <p matLine>Created</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button color="accent" class="text-upper">Edit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </td-layout-manage-list>
</td-layout-nav>
