<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <mat-icon>chrome_reader_mode</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <mat-icon svgIcon="assets:github"></mat-icon>
    </a>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <mat-toolbar-row>
        <mat-icon class="push-left-sm push-right-sm">add_circle</mat-icon>
        <span>Creation Flow</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item [routerLink]="['/patterns','creationflow']">
        <mat-icon matListIcon>view_list</mat-icon>
        Management List
      </a>
      <a mat-list-item [routerLink]="['/patterns','creationflow','card-over']">
        <mat-icon matListIcon>view_day</mat-icon>
        Card Over
      </a>
      <a mat-list-item [routerLink]="['/patterns','creationflow','dialog']">
        <mat-icon matListIcon>filter_none</mat-icon>
        Dialog
      </a>
      <a mat-list-item [class.active]="true" [routerLink]="['/patterns','creationflow','sidesheet']">
        <mat-icon matListIcon>format_indent_increase</mat-icon>
        Sidesheet
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <span>Sidesheet</span>
          <span flex></span>
          <button mat-raised-button *ngIf="(media.registerQuery('gt-xs') | async)" color="accent" class="text-upper"
            (click)="matDrawer.toggle()">create</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-drawer-container fullscreen flex>
      <mat-drawer #matDrawer position="end" mode="side" [style.width.%]="(media.registerQuery('gt-xs') | async) ? '50' : '100'"
        class="mat-body-1">
        <div layout="column" layout-fill>
          <div layout="row" layout-align="start center">
            <h3 class="pad-left" matLine>Create New</h3>
            <span flex></span>
            <button class="push-right" mat-icon-button (click)="matDrawer.toggle()">
              <mat-icon matTooltipPosition="before" matTooltip="Close">close</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
          <div layout="row" class="pad-top-sm" flex>
            <div class="mat-content pad-left pad-right mat-body-1" flex>
              <form #myForm>
                <div layout="column">
                  <mat-form-field flex>
                    <input matInput placeholder="Name">
                  </mat-form-field>
                  <mat-form-field flex>
                    <textarea matInput placeholder="Description"></textarea>
                  </mat-form-field>
                  <mat-form-field flex>
                    <mat-select placeholder="Select">
                      <mat-option value="option">Option 1</mat-option>
                      <mat-option value="option">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div layout="row">
            <button mat-raised-button class="text-upper push" color="accent" (click)="this.myForm.reset(); matDrawer.toggle()">save</button>
            <button mat-button class="text-upper" (click)="this.myForm.reset(); matDrawer.toggle()">cancel</button>
          </div>
        </div>
      </mat-drawer>
      <mat-card class="push">
        <mat-card-title>When to use a sidesheet</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <td-message label="Click create button to see a sidesheet creation pattern" color="accent" icon="info" class="push-bottom"></td-message>
          <p>The sidesheet layout is useful in the creation flow when the user is already in a Management List layout
            and you want to keep them within the context of their current view while keeping the existing content
            within view.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="push">
        <mat-card-title>Create Button Guidance</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <td-message label="Resize your browser to see responsive behavior" color="accent" icon="info"></td-message>
          <mat-list>
            <mat-list-item>
              <mat-icon class="push-right" matListAvatar>check</mat-icon>Use the mat-raised-button in the accent color
              with the class text-upper
            </mat-list-item>
            <mat-list-item>
              <mat-icon class="push-right" matListAvatar>check</mat-icon>On extra small, hide the create button and
              show
              a FAB
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <button mat-fab *ngIf="(media.registerQuery('xs') | async)" color="accent" class="fixed mat-fab-position-bottom-right z-3" (click)="matDrawer.toggle()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-drawer-container>
  </td-layout-manage-list>
</td-layout-nav>
