$icomoon-font-path: "assets/covalent-icons/" !default;

$flip_down: "\e900";
$flip_up: "\e901";
$expand: "\e902";
$centerpoint: "\e903";
$network_users: "\e904";
$window: "\e905";
$component: "\e906";
$modules: "\e907";
$package: "\e908";
$chart_plot: "\e909";
$chart_bars: "\e90a";
$chart_bars_down: "\e90b";
$chart_bars_horiz: "\e90c";
$chart_bars_up: "\e90d";
$chart_bars_line: "\e90e";
$chart_bars_2: "\e90f";
$chart_spline: "\e910";
$chart_line: "\e911";
$chart_area: "\e912";
$chart_area_stacked: "\e913";
$chart: "\e914";
$atom: "\e915";
$beaker: "\e916";
$cube: "\e917";
$tube: "\e918";
$tree: "\e919";
$org: "\e91a";
$nodes: "\e91b";
$sitemap: "\e91c";
$hierarchy: "\e91d";
$org_center: "\e91e";
$heartbeat: "\e91f";
$tools: "\e920";
$csv: "\e921";
$exe: "\e922";
$html: "\e923";
$iso: "\e924";
$java: "\e925";
$javascript: "\e926";
$php: "\e927";
$python: "\e928";
$sql: "\e929";
$xml: "\e92a";
$yaml: "\e92b";
$file_bin: "\e92c";
$file_sql: "\e92d";
$file_code: "\e92e";
$file_brackets: "\e92f";
$file_data: "\e930";
$file_terminal: "\e931";
$data_upload: "\e932";
$server_upload: "\e933";
$data_search: "\e934";
$server_search: "\e935";
$data_shield: "\e936";
$server_shield: "\e937";
$data_info: "\e938";
$server_info: "\e939";
$data_lock: "\e93a";
$server_lock: "\e93b";
$server_network: "\e93c";
$data_network: "\e93d";
$data_help: "\e93e";
$server-question-mark-2: "\e93f";
$data_refresh: "\e940";
$server_refresh: "\e941";
$data_settings: "\e942";
$server_settings: "\e943";
$server: "\e944";
$data: "\e945";
$data_add: "\e946";
$server_add: "\e947";
$data_alert: "\e948";
$server_alert: "\e949";
$data_block: "\e94a";
$server_block: "\e94b";
$data_bug: "\e94c";
$data_check: "\e94d";
$server_check: "\e94e";
$data_close: "\e94f";
$server-close-2: "\e950";
$cloud_wifi: "\e951";
$cloud_server: "\e952";
$cloud_settings: "\e953";
$cloud_shield: "\e954";
$transfer_group: "\e955";
$network_cable: "\e956";
$network_computer: "\e957";
$box_upload: "\e958";
$box_download: "\e959";
$upload2: "\e95a";
$upload3: "\e95b";
$transfer_network: "\e95c";
$download2: "\e95d";
$download3: "\e95e";
$usb: "\e95f";
$harddrive: "\e960";
$disc: "\e961";
$port: "\e962";
$chip: "\e963";

