<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Docs" matTooltipPosition="before" matTooltipDelay="500" href="https://teradata.github.io/covalent/" target="_blank">
      <mat-icon>chrome_reader_mode</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Github" matTooltipPosition="before" matTooltipDelay="500" href="https://github.com/Teradata/covalent-resources" target="_blank">
      <mat-icon svgIcon="assets:github"></mat-icon>
    </a>
    <a mat-icon-button [href]="baseURL + '/layouts/manage-list/manage-list.component.html'" target="_blank">
      <mat-icon matTooltip="Open in Stackblitz" matTooltipPosition="before" matTooltipDelay="500">code</mat-icon>
    </a>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <mat-toolbar-row>
        <mat-icon class="push-left-sm push-right-sm">people</mat-icon>
        <span class="push-left">Users</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item>
        <mat-icon matListIcon>account_circle</mat-icon>
        All Users
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>star</mat-icon>
        Favorites
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>verified_user</mat-icon>
        Administrators
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>supervisor_account</mat-icon>
        Non-Admins
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>inbox</mat-icon>
        Archived
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <span>All Users</span>
          <span flex></span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-divider></mat-divider>
      <ng-template tdLoading="users.list">
        <mat-list class="will-load">
          <mat-list-item>
            <mat-icon></mat-icon>
            <h3 matLine> </h3>
            <span flex></span>
            <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
              <div class="mat-caption tc-grey-700" flex-gt-xs="50"> Created </div>
              <div class="mat-caption tc-grey-700" flex-gt-xs="50"> Last Access </div>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <ng-template let-user let-last="last" ngFor [ngForOf]="filteredUsers">
            <mat-list-item>
              <mat-icon matListAvatar style="visiblity: hidden">person</mat-icon>
              <h3 matLine> {{user.displayName}} </h3>
              <p matLine> {{user.email}} </p>
              <p matLine hide-gt-md class="mat-caption"> last login: {{ user.lastAccess | timeAgo }} </p>
              <span flex></span>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ user.created | date }} </div>
                <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ user.lastAccess | timeAgo }} </div>
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
    </mat-card>
  </td-layout-manage-list>
</td-layout-nav>
