<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Docs" matTooltipPosition="before" matTooltipDelay="500" href="https://teradata.github.io/covalent/" target="_blank">
      <mat-icon>chrome_reader_mode</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Github" matTooltipPosition="before" matTooltipDelay="500" href="https://github.com/Teradata/covalent-resources" target="_blank">
      <mat-icon svgIcon="assets:github"></mat-icon>
    </a>
    <a mat-icon-button [href]="baseURL + '/patterns/empty-state/empty-state.component.html'" target="_blank">
      <mat-icon matTooltip="Open in Stackblitz" matTooltipPosition="before" matTooltipDelay="500">code</mat-icon>
    </a>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
        <mat-icon class="push-left-sm push-right-sm">space_bar</mat-icon>
        <span class="push-left">Empty State</span>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a [class.active]="true" mat-list-item>
        <mat-icon matListIcon>receipt</mat-icon>
        No possible data
      </a> 
      <a [routerLink]="['no-content']" mat-list-item>
        <mat-icon matListIcon>chrome_reader_mode</mat-icon>
        No initial content
      </a> 
      <a [routerLink]="['filter']" mat-list-item>
        <mat-icon matListIcon>image</mat-icon>
        No filter results
      </a>
    </mat-nav-list>
    <mat-toolbar>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div layout="row" layout-align="start center" flex>
          <span>Empty State</span>
          <span flex></span>
        </div>
    </mat-toolbar>
    <div layout-gt-sm="row" class="pad-sm">
      <mat-card flex-gt-sm>
        <mat-card-title>Empty state due to no possible data</mat-card-title>
        <mat-card-subtitle>display an informative message when there is no way to add data</mat-card-subtitle>
        <mat-card-content>
          <div layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
            <mat-icon matListAvatar class="text-super push-bottom">receipt</mat-icon>
            <h2>No logs</h2>
            <h3>There have been no log entries</h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </td-layout-manage-list>
</td-layout-nav>
