<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
  </div>
  <td-layout-manage-list [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <mat-toolbar-row>
        <mat-icon class="push-left-sm push-right-sm">view_agenda</mat-icon>
        <span>Cards</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item [class.active]="true">
        <mat-icon matListIcon>view_agenda</mat-icon>
        Standard Card
      </a>
      <a mat-list-item [routerLink]="['../card-list']">
        <mat-icon matListIcon>list</mat-icon>
        Card List
      </a>
      <a mat-list-item [routerLink]="['../card-images']">
        <mat-icon matListIcon>account_circle</mat-icon>
        Card with Images
      </a>
      <a mat-list-item [routerLink]="['../card-grid']">
        <mat-icon matListIcon>grid_on</mat-icon>
        Card Grid
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <span>Standard Card</span>
          <!-- <span flex></span> -->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div layout-gt-sm="column">
      <mat-card flex-gt-sm>
        <mat-card-title>Standard Card</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button color="accent" class="text-upper">Action</button>
          <button mat-button class="text-upper">Cancel</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </td-layout-manage-list>
</td-layout-nav>
