<td-layout-nav logo="assets:teradata" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span [routerLink]="['/']" class="cursor-pointer text-upper">Sandbox</span>
    <span flex></span>
  </div>
  <td-layout-manage-list
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <mat-toolbar-row>
        <mat-icon class="push-left-sm push-right-sm">filter_none</mat-icon>
        <span>Cards</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item>
        <mat-icon matListIcon>account_circle</mat-icon>
        Cards
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
          <span>Cards</span>
          <!-- <span flex></span> -->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div layout-gt-sm="column">
			<mat-card flex-gt-sm>
				<mat-card-title>Standard Card</mat-card-title>
				<mat-card-subtitle>Subtitle</mat-card-subtitle>
				<mat-divider></mat-divider>
				<mat-card-content>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button color="accent" class="text-upper">Action</button>
					<button mat-button class="text-upper">Cancel</button>
				</mat-card-actions>
			</mat-card>
			<mat-card flex-gt-sm>
				<mat-card-title>Metadata List Card</mat-card-title>
				<mat-card-subtitle>Info About This Item</mat-card-subtitle>
				<mat-divider></mat-divider>
				<mat-list>
					<h3 matSubheader>Metadata</h3>
					<mat-list-item>
						<mat-icon matListAvatar>account_box</mat-icon>
						<h4 matLine>John Jameson</h4>
						<p matLine>Owner</p>
					</mat-list-item>
					<mat-divider matInset></mat-divider>
					<mat-list-item>
						<mat-icon matListAvatar>description</mat-icon>
						<h4 matLine>An Item Description</h4>
						<p matLine>Description</p>
					</mat-list-item>
					<mat-divider matInset></mat-divider>
					<mat-list-item>
						<mat-icon matListAvatar>vpn_key</mat-icon>
						<h4 matLine>1141e8e8-8d24-4956-93c2</h4>
						<p matLine>API Key</p>
					</mat-list-item>
					<mat-divider></mat-divider>
					<h3 matSubheader>Dates</h3>
					<mat-list-item>
						<mat-icon matListAvatar>access_time</mat-icon>
						<h4 matLine>Wed, July 6, 2016 11:13 AM</h4>
						<p matLine>Last Updated</p>
					</mat-list-item>
					<mat-divider matInset></mat-divider>
					<mat-list-item>
						<mat-icon matListAvatar>today</mat-icon>
						<h4 matLine>Wed, July 4, 2016 09:11 AM</h4>
						<p matLine>Created</p>
					</mat-list-item>
				</mat-list>
				<mat-divider></mat-divider>
				<mat-card-actions>
					<button mat-button color="accent" class="text-upper">Edit</button>
				</mat-card-actions>
			</mat-card>
			<div layout-gt-xs="row">
				<mat-card>
					<img mat-card-image src="https://placekitten.com/g/600/200">
					<mat-card-title>Card with Image First</mat-card-title>
					<mat-card-subtitle>100% Width Image</mat-card-subtitle>
					<mat-card-content>
					</mat-card-content>
				</mat-card>
			</div>
			<div layout-gt-xs="row">
				<mat-card>
					<mat-card-title-group>
						<mat-card-title class="text-xl push-none">Card with Small Image</mat-card-title>
						<mat-card-subtitle class="push-none">80px x 80px Image</mat-card-subtitle>
						<img mat-card-sm-image src="https://placekitten.com/g/200/200">
					</mat-card-title-group>
				</mat-card>
			</div>
			<div layout-gt-xs="row">
				<mat-card>
					<mat-card-title-group>
						<mat-card-title class="text-xxl">Card with Medium Image</mat-card-title>
						<mat-card-subtitle>112px x 112px Image</mat-card-subtitle>
						<img mat-card-md-image src="https://placekitten.com/g/300/300">
					</mat-card-title-group>
				</mat-card>
			</div>
			<div layout-gt-xs="row">
				<mat-card>
					<mat-card-title-group>
						<mat-card-title>Card with Large Image</mat-card-title>
						<mat-card-subtitle>152px x 152px image</mat-card-subtitle>
						<img mat-card-lg-image src="https://placekitten.com/g/400/200">
					</mat-card-title-group>
				</mat-card>
			</div>

		</div>
  </td-layout-manage-list>   
</td-layout-nav>